@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import "tailwindcss";

@layer base {
  main {
    @apply min-h-screen relative m-0 w-screen
  }

  h1,
  h2,
  h3 {
    font-family: 'Fraunces', sans-serif
  }

  p {
    font-family: 'Barlow', sans-serif;
  }

  nav {
    @apply flex flex-row justify-between items-start px-5 py-3
  }


  li {
    @apply cursor-pointer
  }


  /* header {
    @apply sm:mt-10 mt-5;
  } */

}


@layer components {
  .hero {
    /* background-image: url('/desktop/image-header.jpg'); */
    @apply h-screen bg-cover bg-center bg-[url('/mobile/image-header.jpg')] md:bg-[url('/desktop/image-header.jpg')]
  }

.links{
  @apply hidden  md:flex md:gap-4 
}

  .links li {
    @apply  text-white gap-2 md:flex md:flex-row md:gap-3 md:items-center;
  }

  .link-btn {
    color: hsl(213, 9%, 39%);
    font-family: 'Fraunces', sans-serif;
    @apply bg-white rounded-4xl px-4 py-2 font-semibold hover:opacity-50
  }

  .copy {
    @apply flex flex-col py-4 items-center justify-center mt-6
  }

  h1 {

    @apply text-3xl uppercase font-bold text-center text-white sm:text-4xl pt-12 mb-78  sm:mb-50 md:mb-32
  }


  .hamburger {

    @apply md:hidden items-end flex flex-col
  }

  .hamburger-links {

    @apply bg-white mt-4 py-10 px-20 absolute top-12 flex flex-col items-center
  }

  .triangle {
    @apply absolute -top-4 right-0 w-0 h-0 border-l-[20px] border-l-transparent border-b-[20px] border-b-white
  }

  .hamburger-links li {
    color: hsl(232, 10%, 55%);
    @apply font-semibold mb-4
  }

  .hamburger-btn {
    color: hsl(213, 9%, 39%);
    font-family: 'Fraunces', sans-serif;
    @apply bg-yellow-300 rounded-4xl px-4 py-2 font-semibold hover:opacity-50
  }

  .info {
    @apply flex flex-col md:flex-row md:flex-wrap
  }

  .card {
    @apply w-full h-120 py-4 px-8 flex flex-col md:px-24 md:py-8 justify-center object-center items-center md:items-start md:w-1/2
  }

  .card h2 {
    color: hsl(212, 27%, 19%);
    @apply text-3xl font-bold mb-2.5 text-center md:text-start
  }

  .card p {
    color: hsl(210, 4%, 67%);
    @apply text-sm font-semibold text-center md:text-start
  }

 

 .card-bg-one{
    @apply bg-[url(/mobile/image-transform.jpg)] md:bg-[url(/desktop/image-transform.jpg)] bg-cover bg-center bg-no-repeat
  }

  .card-bg-two{
    @apply bg-[url(/mobile/image-stand-out.jpg)] md:bg-[url(/desktop/image-stand-out.jpg)] bg-cover bg-center bg-no-repeat
  } 

  .btm-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @apply h-150 w-screen flex flex-col items-center px-8 md:px-30 text-center pt-100 md:w-1/2
  }

  .card button {
    font-family: 'Fraunces', sans-serif;
    color: hsl(212, 27%, 19%);
    @apply text-lg font-bold mt-4 cursor-pointer pb-0
  }

  .card button.btn-one {
    border-bottom: 4px solid hsl(51, 100%, 49%, 0.4);

  }

  .card button.btn-one:hover {
    border-bottom: 4px solid hsl(51, 100%, 49%);

  }

  .card button.btn-two {
    border-bottom: 4px solid hsl(7, 99%, 70%, 0.4);

  }

  .card button.btn-two:hover {
    border-bottom: 4px solid hsl(7, 99%, 70%);

  }

  .btm-card-one {
   @apply bg-[url(/mobile/image-graphic-design.jpg)] md:bg-[url(/desktop/image-graphic-design.jpg)] ;

  }

  .btm-card-two {
   @apply bg-[url(/mobile/image-photography.jpg)] md:bg-[url(/desktop/image-photography.jpg)] ;

  }

  .btm-card h3 {
    @apply text-2xl font-bold mb-4
  }

  .btm-card p {
    color: hsl(167, 40%, 24%);
    @apply font-medium text-sm
  }

  .btm-card-one h3, p {
    color: hsl(167, 40%, 24%);

  }


  .btm-card-two h3,
  p {
    color: hsl(198, 62%, 26%);
  }


  .testimonials {

    @apply py-24 px-20 flex flex-col items-center justify-center w-screen
  }

  .testimonials h2 {
    color: hsl(232, 10%, 55%);
    @apply uppercase text-lg mb-12
  }

  .testimonials-card {
    @apply flex flex-col md:flex-row justify-evenly items-center gap-9
  }

  .test-cards {
    @apply flex flex-col justify-center items-center w-72
  }

  .test-cards img {
    @apply w-16 rounded-full
  }

  .test-comment {
    color: hsl(232, 10%, 55%);
    @apply text-xs font-semibold my-4 text-center
  }

  .test-name {
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', sans-serif;
    @apply text-base font-medium my-2 font-bold
  }

  .test-role {
    color: hsl(210, 4%, 67%);
    @apply text-xs font-medium
  }

  .photos {
    @apply flex flex-wrap md:flex-row
  }

  .photos img {
    @apply w-1/2 md:w-1/4
  }

  .footer {
    background-color: hsl(168, 34%, 41%);
    @apply px-20 py-20 flex items-center flex-col justify-center
  }

  .footer-links {
    color: hsl(167, 40%, 24%);
    @apply mt-8 gap-4 md:gap-16 flex flex-row justify-evenly items-center
  }

  .footer-links li {
    @apply hover:text-white
  }

  .footer-icons {
    @apply flex gap-4 mt-4 md:gap-8
  }

}